body {
  background-color: #fffefa;
  font-family: 'Open Sans', serif;
  /*font-family: Georgia, Palatino, Times, serif, Lato,"Open Sans","Helvetica Neue",Helvetica,sans-serif,"Myriad Pro",Arial;*/
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

path, line {
  fill: none;
  stroke-width: 1px;
  stroke: #c2c2c2;
  stroke-opacity: 1;
  shape-rendering: crispedges;
  stroke-dasharray: 2,2;
}

text {
  font-weight: 400;
  font-size: 7pt;
  font-family: 'Open Sans', serif;
}

.bar {
  fill: #CDD7B6;
}

.bar:hover {
  fill: #AABA85 ;
}

.median {
  fill: #E78924;
}

#desc {
  margin: 50px 50px 10px 50px;
}
#header {
  font-size: 18px;
  font-weight: 600;
}

#container > div {
  float: left;
}

#meta {
  margin-top: 50px;
}
#content {
  font-size: 180%;
  float: right;
  text-align: left;
  width: 200px;
  height: 75px;
  position: relative;
  top: 20px;
}
#details {
  font-size: 10pt;
  padding: 0;
  margin: 0;
}
.mentionCount {
  font-size: 12pt;
  padding: 0;
  margin: 0;
}


#separator {
  border-left: 1px solid #cccccc;
  height: 460px;
  width: 5px;
  margin-right: 15px;
  margin-top: 25px;
}
