* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', serif;
  margin: 0;
  padding: 0;
  font-size: 10pt;
}

.hide {
  display: none;
}

path, line {
  fill: none;
  stroke-width: 1px;
  stroke: #c2c2c2;
  stroke-opacity: 1;
  shape-rendering: crispedges;
  stroke-dasharray: 2,2;
}

text {
  font-weight: 400;
  font-size: 8pt;
  font-family: 'Roboto', serif;
}

.bar {
  fill: #B3D480;
}

.bar:hover {
  fill: #8FB557;
}

.median {
  fill: #4F785B;
}

#desc {
    padding: 30px 50px;
    background: #F7F7F7;
    color: #c0c0c0;
}

#desc p {
    line-height: 1.4;    
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0;
}

#header {
    font-size: 22px;
    font-weight: 600;
}

div#container {
    margin: 50px 20px;
    display: flex;
    flex-direction: row;
}

.child {
  align-self: flex-end;
}

#meta {
    
}

#stats {    

    color: #464646;
}
.heart {
    height: 16px;
    width: 16px;
    fill: #B3D480;
    stroke-width: 1px;
    stroke: #B3D480;
    stroke-opacity: 1;
    shape-rendering: crispedges;
    stroke-dasharray: 2,2;
    margin-bottom: 5px;
}
#details {
    font-family: georgia;
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 40px;
}
.love {
    margin-bottom: 5px;
    font-weight: bold;
}
.description {
    margin-bottom: 5px;
}

#name {
    font-size: 28px;
    font-weight: 300;
}
#mainCount {
    font-size: 50pt;
    padding: 0;
    margin: 0;
    line-height: 50pt;
}
#secondaryCount {

}


#separator {
    height: 520px;
    width: 0px;
    border-left: 1px solid #e6e6e6;
    margin-top: -50px;
}
